{% extends 'base.html' %}
  {% block content %}
  <h1>Signup</h1>
  {% comment "" %}Mostrando su hay un error{% endcomment %}
  {{error}}
  {% comment "" %}al poner signup, va a buscar en las url una url que se llame asi, pero lanzara un error si no lo encuentra, si la ruta a donde va a enviar los datos es la misma, simplemente no pongo el action, y el metodo del form sera POST para que se envien los datos de forma oculta{% endcomment %}
<form action="/signup/" method="POST"> 
  {% comment "" %}
  Llamo al formulario que le pase en el render y con as_p los meto en etiquetas p para más orden
  {% endcomment %}
  {% comment "" %}Esto creara un token para verificar que este formulario fue creado por nuestro servidor y no haya suplantacion{% endcomment %}
  {% csrf_token %}
  {{form.as_p}}
  <button type="submit">Signup</button>
</form>
  {% endblock content %}
